.causes {
    padding-top: 45px;
    padding-bottom: 90px;
    text-align: center;

    &__up-title {
        font-size: 16px;
        font-family: $ff-bold;
    }
    &__top-title {
        max-width: 900px;
        margin: 0 auto;
        margin-top: 22px;
        font-size: 38px;
        font-family: $ff-bold;
    }

    &__box {
        margin-top: 55px;
        display: flex;
        justify-content: space-between;
    }

    &__card {
        padding: 0 15px;
        width: 100%;
        max-width: 360px;

        h4 {
            font-size: 52px;
            font-family: $ff-bold;
        }

        &-line {
            margin: 14px 0;
            width: 100%;
            height: 1px;
            background-color: black;
            opacity: 0.2;
        }

        &-descr {
            font-size: 18px;
        }
    }
}