.contacts-btn {
    $tm: 0.4s;
    position: fixed;
    z-index: 100;
    right: 60px;
    bottom: 40px;
    width: 60px;
    height: 60px;
    background-color: #08c;
    transition: background-color $tm;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);

    &__main-icons,
    &__link-icons {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__main-icons {
        z-index: 10;
    }
    &__link-icons {
        z-index: 0;
        opacity: 0;
        transition: opacity $tm;

        a {
            box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;

            .contacts-btn__link-title {
                padding: 10px 20px;
                background-color: #292929;;
                border-radius: 5px;

                position: absolute;
                right: 80px;
                top: 50%;
                transform: translateY(-50%);

                color: white;
                font-size: 13px;
                font-family: $ff-bold;

                display: none;
                align-items: center;
                justify-content: center;

                &::after {
                    content: "";
                    width: 15px;
                    height: 15px;
                    background-color: #292929;
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: -6px;
                    transform: translateY(-50%) rotate(45deg);
                }
            }

            &:hover {.contacts-btn__link-title {
                display: flex;
            }}
        }
    }

    &__main-icons,
    &__link-icons {
        &>* {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: top $tm, transform $tm, opacity $tm;
        }
    }

    &__main-icons svg:first-child {
        transform: translate(-50%, -50%) scale(1);
    }
    &__main-icons svg:last-child {
        transform: translate(-50%, -50%) scale(0);
    }
}

.contacts-btn--active {
    background-color: white;

    .contacts-btn__main-icons svg:first-child {
        transform: translate(-50%, -50%) scale(0);
    }
    .contacts-btn__main-icons svg:last-child {
        transform: translate(-50%, -50%) scale(1);
    }

    .contacts-btn__link-icons {
        opacity: 1;

        a:first-child {
            top: -65%;
        }
        a:last-child {
            top: -165%;
        }
    }
}