.sticky-info {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    padding: 10px 0;
    height: 50px;
    transition: background-color 0.5s;
    background-color: $main-color;
    box-shadow: 0px 1px 3px rgba($color: #000000, $alpha: 0.5);

    &--container {
        width: 100%;
        max-width: 1400px;
        padding: 0 25px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    img {
        width: 170px;
    }

    a {
        color: white;
        text-decoration: none;
        font-family: $ff-bold;
    }
}